
@model IdentityRole;

@{
    ViewData["Title"] = "Edit";
}

@section bootstrapSelect{
    <link href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />


}
<div class="block-header">
    <h2>Edit </h2>
</div>


<form class="form-group" asp-controller="Roles" asp-action="Edit">



    <label asp-for="Id">Id</label>
    <input type="text" class="form-control" asp-for="Id" readonly />
    <br />

    <label asp-for="Name">Name</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />

    <center>
        <input type="submit" value="@SharedLocalizer["Save"]" class="btn btn-primary" />
        <a asp-controller="Roles" asp-action="AddOrRemoveUsers" asp-route-RoleId="@Model.Id" class="btn btn-danger">add or remove users</a>

    </center>

</form>


@section MicrosoftValidation{

    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}








